

section#timeline-section
  position: relative
  padding-top: 290px

  +media($slaptop)
    //position: absolute
    padding: 0 0 40px 0

  +media($mobile)
    padding-bottom: 68px // to make SVG line up exactly

  #timeline-shape
    background-position: bottom right

  #tvector
    position: absolute
    z-index: 2
    top: 0px
    left: 50%
    margin: -12px 0 0 -288px

  #timeline-header
    margin-top: 20px
    // to match up SVG consistently
    //height: 120px
    //max-height: 120px 
    +media($slaptop)
      margin-bottom: 136px

  .row
    height: 500px
    position: relative

    h1
      font-size: 21em
      position: absolute
      color: #d4d4d4
      right: 10px
      margin: 0px
      top: -50px

      +media($stablet)
        font-size: 12em
        top: -20px
        right: 0px !important
        left: auto


    @keyframes spinLeft
      from, 20%, 40%, 60%, 80%, to
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)

      0%
        +transform(scale3d(0.95, 0.95, 0.95) rotate(-5deg))

      75%
        +transform(scale3d(1, 1, 1) rotate(2deg))

      to
        +transform(scale3d(1, 1, 1) rotate(0deg))

    @keyframes spinRight
      from, 20%, 40%, 60%, 80%, to
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)

      0%
        +transform(scale3d(0.95, 0.95, 0.95) rotate(5deg))

      75%
        +transform(scale3d(1, 1, 1) rotate(-2deg))

      to
        +transform(scale3d(1, 1, 1) rotate(0deg))

    .pic
      margin-left: 128px
      top: 130px
      repeat: no-repeat
      transform-origin: center center
      left: 50%;
      position: absolute
      border-radius: 50%
      height: 250px
      width: 250px
      z-index: 10

      +media($mobile)
        display: none

      //margin-left: ($column + $gutter)
    &:nth-of-type(even)
      .pic
        +transform(scale3d(0.92, 0.92, 0.92) rotate(8deg))
        +transition(all 400ms linear)
        &.reached
          //opacity: 1
          //+transform(opacity 300ms linear)
          +transform(scale3d(1, 1, 1) rotate(0deg))
          +animation(spinRight 800ms linear)
    &:nth-of-type(odd)
      .pic
        margin-left: -407px
        +transform(scale3d(0.92, 0.92, 0.92) rotate(-8deg))
        +transition(all 400ms linear)
        &.reached
          +transform(scale3d(1, 1, 1) rotate(0deg))
          +animation(spinLeft 800ms linear)
      .history-text
        margin-left: 112px
        +media($slaptop)
          margin-left: -10px
        +media($stablet)
          margin-left: -80px
        +media($mobile)
          width: 80%
          margin: 0px auto
          left: 0px
          right: 0px
          text-align: right

      h1
        left: 10px

        +media($stablet)
          left: auto

    &:last-child
      margin-bottom: 100px


    .history-text
      top: 75px
      margin-left: -422px
      position: absolute
      width: 380px
      left: 50%
      //font-size: $font-size-feature-sm

      +media($slaptop)
        top: 135px
        margin-left: -345px

      +media($tablet)
        width: 280px
        margin-left: -250px

      +media($stablet)
        margin-left: -195px

      +media($mobile)
        width: 80%
        margin: 0px auto
        left: 0px
        text-align: left
        right: 0px

      h4
        text-transform: uppercase
        font-size: $font-size-feature

        +media($slaptop)
          font-size: $font-size-feature-sm

      h5
        font-weight: normal

      p
        font-size: $font-size-feature-sm
        font-weight: 200

        +media($slaptop)
          font-size: $font-size-feature-mob

    #bw-pic
      background: url('/img/timeline/bw-square.jpg')

    #lza-pic
      background: url('/img/timeline/lza-square.jpg')

    #sf-pic
      background: url('/img/timeline/sf-square.jpg')


