
#clients-section
  height: 80vh

  #clients-list
    list-style-position: inside
    list-style-type: none
    columns: 4

    li:before
      content: "\2014\ "
    
    li.hl
      font-family: $font2-bold

