


section#timeline-section
  position: relative
  padding-top: 290px

  #tvector
    position: absolute
    z-index: 2
    top: 0px
    left: 50%
    margin: -12px 0 0 -288px

  #timeline-header
    // to match up SVG consistently
    //height: 120px
    //max-height: 120px 

  .row
    height: 500px
    position: relative

    &:nth-of-type(odd)
      .pic
        margin-left: -385px
      .history-text
        margin-left: 112px

    &:last-child
      margin-bottom: 100px

    .history-text
      top: 130px
      margin-left: -422px
      position: absolute
      width: 350px
      left: 50%
      font-size: $font-size-feature-sm

      h4
        text-transform: uppercase

      h5
        font-weight: normal

    .pic
      margin-left: 100px
      top: 130px
      repeat: no-repeat
      left: 50%;
      position: absolute
      border-radius: 50%
      height: 250px
      width: 250px
      z-index: 10
      //margin-left: ($column + $gutter)

    #bw-pic
      background: url('/img/timeline/bw-square.jpg')

    #lza-pic
      background: url('/img/timeline/lza-square.jpg')

    #sf-pic
      background: url('/img/timeline/sf-square.jpg')


