
#clients-section
  height: 100vh
  //display: flex
  //flex-direction: column
  //justify-content: center

  #clients-list
    list-style-position: inside
    list-style-type: none
    columns: 4
    font-size: $font-size-feature

    span.hl
      //border-bottom: 3px solid $close-to-black

    li:before
      //content: "\2014\ "
    
      //font-family: $font2

