/* Coolors Exported Palette - coolors.co/a63446-e3d26f-3e291f-5863f8-e8f1f2 */

$color1: #a63446; //rgba(166, 52, 70, 100)
$color2: #e3d26f; //rgba(227, 210, 111, 100)
$color3: #3e291f; //rgba(62, 41, 31, 100)
$color4: #5863f8; //rgba(88, 99, 248, 100)
$color5: #e8f1f2; //rgba(232, 241, 242, 100)