/* Coolors Exported Palette - coolors.co/e7e5df-312118-d1b1cb-efd780-fe654f */

$color1: #e7e5df; //rgba(231, 229, 223, 100)
$color2: #312118; //rgba(49, 33, 24, 100)
$color3: #d1b1cb; //rgba(209, 177, 203, 100)
$color4: #efd780; //rgba(239, 215, 128, 100)
$color5: #fe654f; //rgba(254, 101, 79, 100)