// CHOPS MARKET JADE

include ../../mixins

div.chops-tldr

  div.subheader
    div.subheader-rect
    h5 MARKET

  ul
    li(data-tldr='growth'): span.underline-wrapper <b>Growth:</b> Grew co. from $3k to $2,000,000.
    li(data-tldr='design'): span.underline-wrapper <b>UX Design:</b> Designed 6+ products.
    li(data-tldr='sales'): span.underline-wrapper <b>Sales:</b> Led sales from $0 to ~$118k/m.

div.chops-details

    div.chops-details-grp(data-details='design').hide

      +chopsBar('design')

      div.chops-details-content

          p Co-designed a dozen products: an ad platform, a marketplace, a coffee brand, a dev tool, a charity app, and more.

          //ul
              //li video SDK & service
              //li plugins & gamification layer
              //li wholesale & retail coffee brand
              //li advertising platform
              //li therapist marketplace
              //li tontine
              //li (helped with many others)

          ul
            +skill(3, 'Customer Interviews', '300+ customer interviews across 5 verticals: wholesale, charity, adtech, mobile, and health.')
            +skill(3, 'Design Sprints')
            +skill(3, 'User Stories & Paths')
            +skill(2, 'Wireframing & Reqs')
            +skill(2, 'Mockups (Sketch)')
            +skill(2, 'Typography, Colors, Layout')
            +skill(2, 'Trends (e.g., Material, Flat...)')
            +skill(3, 'Rapid Prototyping', "Sass, Jade, Bourbon, jQuery for speed. Vanilla HTML5, CSS3, Javascript, Bootstrap too.")

          // 300+ customer interviews across 5 verticals: wholesale, charity, adtech, mobile, and health.

    div.chops-details-grp(data-details='growth').hide

      +chopsBar('growth')

      div.chops-details-content

          p Grew coffee company from $3k in saving to a multi-million dollar wholesaler employing 14 people. Got 10k users in one month for TaxInfo2008, a one-off project in college. Retained 5k monthly donors for adtech charity. Directly recruited SF's elite therapists for Airpsych marketplace.

          ul
            +skill(3, 'CAC & LTV Redesign', 'For LazyAngel, cut CAC by 5x with onboarding and social.')
            +skill(2, 'Onboarding')
            +skill(2, 'Conversion Optimization & Analytics')
            +skill(3, 'DB Insights (SQL & NoSQL)')
            +skill(2, 'Beta User Recruiting')


    div.chops-details-grp(data-details='sales').hide

      +chopsBar('sales')

      div.chops-details-content

          p We won the following accounts to pilot a charity adtech platform. (My role: co-founder, sales.)

          ul.show-bullets
              li PacSun
              li Birchbox
              li American Family Insurance
              li Suubi

          p We sold coffee to these accounts. (My role: CEO, directly involved in sales.)

          ul.show-bullets
              li Whole Foods
              li Kroger
              li Costco
              li 50+ cafes and shops
              li HEB & BJ's (not directly involved)
