// CHOPS TECH JADE

include ../../mixins

div.subheader
    div.subheader-rect
    h5 TECH

div.row
    div.chops-tldr


      ul.tldr-list
        li(data-tldr='fullstack')
          a(href="#", data-hover="Flask Cult")
            span Full Stack
          span.tldr-desc 5+ web apps. 10M/m ad platform.
        li(data-tldr='mobile')
          a(href="#", data-hover="BileOm")
            span Mobile
          span.tldr-desc 12 back ends for 5 mobile apps.
        li(data-tldr='engineering')
          a(href="#", data-hover="GenieEnGrin")
            span Engineering
          span.tldr-desc data, devops, & video patent.

      div.portfolio
        +portSquare('001', 'classiccars', 'iPhone/Data', 'ClassicCars', 'Dev & Data')
        +portSquare('001', 'pushfriday', 'Creative Tool', 'PushFriday', 'Creator/Dev')
        +portSquare('001', 'lazytown', 'iPhone Apps', 'Various', 'Backend Dev')
        +portSquare('001', 'mvids', 'Video Patent', 'mvids, Yeti', 'Co-Inventor')

    //+portSquare('001', 'mvids', 'Video Patent', 'mvids, Yeti', 'Co-Inventor')
    //+portSquare('001', 'stetly', 'Concept', 'Stetly', 'Creator/Dev')
    //+portSquare('001', 'mamiverse', 'iPhone App', 'Mamiverse', 'Backend Dev')
    //+portSquare('001', 'resumeconsole', 'ATS App', 'Resume Console', 'Helper')

    div.chops-details

        div.chops-details-grp(data-details='fullstack')

          +chopsBar('full stack')

          div.chops-details-content

            ul.double-col#tech-list
                +skill(3, 'Javascript')
                +skill(3, 'jQuery')
                +skill(1, 'D3.js')
                +skill(3, 'Angular')
                +skill(2, 'PHP')
                +skill(2, 'Node.js')
                +skill(2, 'MongoDB')
                +skill(3, 'MySQL & PostgreSQL')
                +skill(2, 'Firebase & Parse')
                +skill(3, 'Redis')
                +skill(3, 'HTML5')
                +skill(3, 'CSS3')
                +skill(3, 'Sass')
                +skill(2, 'Jade')
                +skill(2, 'Unix')
                +skill(3, 'AWS: S3, EC2, CloudFront')
                +skill(2, 'Heroku')
                +skill(2, 'nginx & Apache')
                +skill(3, 'Vim')
                +skill(3, 'Bootstrap & Bourbon')
                +skill(2, 'Gulp & Grunt')
                +skill(2, 'Git')
                +skill(0, 'Django/Python, Ruby/Rails, C', '(dabbled)')

        div.chops-details-grp(data-details='mobile')

          +chopsBar('mobile')

          div.chops-details-content

              p Lead API and back end development supporting the following mobile apps:

              ul.show-bullets
                li Jeff Gordon: racecar driver.
                li Darrel Gwynn: racecar driver.
                li LazyTown: children's TV show.
                li Mamiverse: latina moms publisher.
                li ClassicCars: hub for classic cars.
                li Marvel (concept only).


        div.chops-details-grp(data-details='engineering')

          +chopsBar('engineering')

          div.chops-details-content

              p Some other engineering feats:

              ul.show-bullets
                li Co-invented a patented video protection & delivery mechanism. <a href="http://www.google.com/patents/US20140270167" target="_blank">USPTO# 213213213212</a>
                li Built and managed 2 large (20+ instance) scalable AWS production environments.
                li 2 data engineering projects with SQL & NoSQL real-time data.

        //+portSquare('001', 'classiccars', 'iPhone/Data', 'ClassicCars', 'Dev & Data')
        //+portSquare('001', 'pushfriday', 'Creative Tool', 'PushFriday', 'Creator/Dev')
        //+portSquare('001', 'jeffgordon', '2x Apps', 'Jeff Gordon', 'Backend Dev')
        //+portSquare('001', 'lazytown', 'iPhone App', 'LazyTown', 'Backend Dev')

        div.chops-details-grp(data-details='classiccars').showcase-photo
          +chopsBar('classic cars')
          div.chops-details-content
              img(src="/img/portfolio/classiccars275.jpeg")
              p Engineered ClassicCar's data processing system to scrape, scrub, flag, tag, and gift-wrap medium-big car data. Also built the backend that supports their iPhone app.

        div.chops-details-grp(data-details='pushfriday').showcase-photo
          +chopsBar('pushfriday')
          div.chops-details-content
              img(src="/img/portfolio/pushfriday275.jpeg")
              p Can build full stack apps really fast. Our data viz group Mainstem had challenge to create one thing every week. For the first week, I created PushFriday to host this challenge. See <a href="https://www.behance.net/gallery/35414261/PushFriday-(Side-Proj-for-Mainstem)" target="_blank">screenshots</a>.

        div.chops-details-grp(data-details='lazytown').showcase-photo
          +chopsBar('iPhone APIs')
          div.chops-details-content
              img(src="/img/portfolio/lazytown275.jpeg")
              p Built backend support and APIs for several clients including LazyTown (popular kid's TV show), Jeff Gordon, Darrel Gwynn, Mamiverse, mVids, ClassicCars, and a concept for Marvel.

        div.chops-details-grp(data-details='mvids').showcase-photo
          +chopsBar('Video Delivery Patent')
          div.chops-details-content
              img(src="/img/portfolio/mvids275.jpeg")
              p Mike and I co-invented a video delivery protection technology used in several iPhone apps. Patented by Startal. Yeti.io attempted to commercialize it (seperately). See <a href="http://www.google.com/patents/US20140270167" target="_blank">mobile video patent</a>.

