
h1, h2, h3
  font: $font-title

h4, h5
  font-family: $font-subtitle

p, h6, ul, input, button
  font-family: $font-feature

body
  //background-color: #1b130c
  //background-color: #0d0905
  //background-color: #150c08
  background-color: $close-to-black

  .section-header
    font-family: $font-title
    font-size: $font-size-title


.hide
  display: none

.mat1-shadow
  //box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

.container
  @include outer-container
  padding: 60px 0 100px

.row
  @include row
  padding: 20px 0

.home-wrap
  //display: flex
  //flex-direction: columns

  //section:odd

  section
    padding: 40px 0

  section:nth-of-type(even)
    background-color: $close-to-white
    color: $close-to-black

  section:nth-of-type(odd)
    color: $close-to-white
