
h1, h2, h3
  font: $font-title

h4, h5
  font-family: $font-subtitle

p, h6, ul, input, button
  font-family: $font-feature

body
  background: white
  //background-color: #1b130c
  //background-color: #0d0905
  //background-color: #150c08
  //background-color: $close-to-black

.hide
  display: none

@mixin mat1-shadow()
  //box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)

.mat1-shadow
  //box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  //box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)

.container
  @include outer-container

.row
  @include row
  padding: 0



#home-wrap
  margin-bottom: 70px

  section
    padding: 20px 0
    position: relative
    overflow: hidden

    .section-header
      position: absolute
      left: 50%
      top: 18px
      font-family: $font-title
      font-size: $font-size-title
      z-index: 20
      //display: inline-block
      //margin: 8px
      padding: 10px 20px
      //@include mat1-shadow()

      +media($slaptop)
        left: auto
        position: relative
        top: 0
        display: inline-block
        margin-left: 0px !important

      +media($mobile)
        font-size: $font-size-feature

    &:nth-of-type(even)
      background-color: $close-to-white
      color: $close-to-black

      .section-header
        background-color: $close-to-black
        color: $close-to-white
        //transform: rotate(-2deg)
        margin-left: -550px

    &:nth-of-type(odd)
      color: $close-to-white
      //background-color: $close-to-white
      //color: $close-to-black

      .section-header
        top: 40px
        background-color: $close-to-black
        color: $close-to-white
        //transform: rotate(2deg)
        margin-left: 155px

        //+media($tablet)
          //left: auto
          //margin-left: 10px

