header(role="banner").navigation
  div.nav-wrapper
    h4#my-name kyle cureau

    ul.nav-links
      li: a < Tech >
      li: a < User >
      li &amp;
      li: a < Team >

section#hero
  div.container

      div#photo-tagline
        h1 9 years<br />in the<br />product<br />wild
        img(src="img/headshot.jpg", width=1000, height=558)




