header(role="banner").navigation
  div.nav-wrapper
    h4#my-name cureau.io, kyle

    ul.nav-links
      li: a Clients
      li: a Results
      ///*li: a User,*/
      ///*li: a Team*/
      li: a.active History
      li //
      li: a @Email

section#hero
  div.container

      div#headshot
        h1 9 years<br />in the<br />product<br />wild
        div.photo




