
section#timeline-section
  div.container
    h4.section-header abbr. history

    div.row

      div.history-pics
        div.pic#bw-pic
        //img(src='/img/timeline/bw-square.jpg')
        h5 2006 to 2009

      div.history-text
        h4 Young CEO, Coffee Co.
        p.
          Drove mom’s minivan to Guatemala. Loaded it with coffee. Within a 3 years, we're roasting 15,000 lbs/month for Costco, Whole Foods et al. Led team of 12. Sold $1M equity at $2M valuation.

    div.row

      div.history-pics
        div.pic#lza-pic
        //img(src='/img/timeline/lza-square.jpg')
        h5 2009 to 2012

      div.history-text
        h4 Co-Founder, Tech Charity
        p.
          Returned to college after investor takeover. Started charity and web app to fight child malnutrition. Led local & remote teams. Partnered with PacSun, AmFam, and Birchbox.

    div.row

      div.history-pics
        div.pic#sf-pic
              //img(src='/img/timeline/sf-square.jpg')
        h5 2012 to 2015

      div.history-text
        h4 Software Dev Consultant
        p.
          Submerged in SF tech scene. Built apps for big brands. Worked on full stack apps, mobile APIs, and data projs. Co-invented patented video tech. Started some cool side projs.
