
//include ../mixins/skill.jade


//-
    mixin plink(link, text)
        a(href=link)= "y"
        span #{text + ", "}

//-
    mixin products(products)
        - each product in products
            span
    a(href=product.link)
        img(src='/img/ext-link-icon.svg' alt='link')
        product.name



section#chops-section

  div.container
    h4.section-header showcase

  div.chops-row.market
    div.chops-wrapper
      include ./chops-groups/chops-market.jade
  div.chops-row.team
    div.chops-wrapper
      include ./chops-groups/chops-team.jade
  div.chops-row.tech
    div.chops-wrapper
      include ./chops-groups/chops-tech.jade
