
section#cta
  background:
    image: url('/img/backgrounds/footer-bw.jpeg')
    size: 100% 100vh
    repeat: no-repeat
    position: top center
    attachment: fixed
  text-align: center
  padding: 200px 0
  height: 100vh
  position: relative

  h4#letschat.section-header
    display: inline-block
    position: absolute
    text-align: center
    top: 200px
    transform: rotate(0deg)
    left: 50%
    right: auto
    bottom: auto
    margin-left: -150px

  #tvector-tail
    position: absolute
    z-index: 8
    top: 0
    left: 50%
    margin: -0px 0 0 120px

  #email-me
    font-size: $font-size-title
    font-family: $font-title
    margin-top: 300px

  #schedule-btn
    display: inline-box
    background: none
    padding: 30px
    font-size: $font-size-button
    border: 5px solid $close-to-white
    margin-top: 10px
    cursor: pointer

    &:hover
      background: $close-to-white
      color: $close-to-black
