
#cta
  text-align: center
  padding: 200px 0
  height: 100vh
  position: relative

  #tvector-tail
    position: absolute
    z-index: 8
    top: 0
    left: 50%
    margin: -0px 0 0 120px

  #schedule-btn
    display: inline-box
    background: none
    padding: 30px
    font-size: $font-size-button
    border: 5px solid $close-to-white
    margin-top: 10px
    cursor: pointer

    &:hover
      background: $close-to-white
      color: $close-to-black
